.site-footer
{
  background: none;
  padding: 0 40px 0 20px;
  font-size: 0.9rem;
  line-height:1.5;
  color:#737373;
    display : flex;
    flex-direction: column;
}
.site-footer .container {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex: 1;
    color: #fff;
}

.col-sm-12col-md-6 {
    flex : 1;
}
.col-xs-6col-md-3 {
    flex : 1;
    text-align: center;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  text-decoration:none;
}
.site-footer a:hover
{
  color:#03B48C;
  
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  padding: 5px 0px;
}
.footer-links a
{
  color:#fff;
  
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#03B48C;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
 #second .row {
     justify-content: space-between;
 }
.col-md-8col-sm-6col-xs-12 {
    justify-content: center;
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#fff;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#03B48C
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#e30404
}

.col-sm-12col-md-6 img {
    // padding-top: 20px;
    width : 20vw;
    height: 20vh;
}