header {
    position: absolute;
    z-index: 99;
    width: 99%;
    // padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 8px -4px rgba(0,0,0,.5);
    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width : 180px;
        height : 100px;
      }
      .desktop-view {
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          li {
            list-style: none;
            margin: 0 40px;
            &.btn {
              a {
                color: #fff;
                font-weight: 600;
                background: #23232a;
                padding: 16px 24px;
                border-radius: 10px;
              }
            }
            a {
              text-transform: capitalize;
              text-decoration: none;
              color: rgb(0, 0, 0);
            }
          }
        }
      }
    }
  }

  #show-menu {
    display: none;
    margin-right: 30px;
    font-size: 2rem;
  }

  .mobile-view {
    display: none;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      background-color: white;
      position: absolute;
      width: 100%;
      top : 60px;
      left: 0;
      li {
        list-style: none;
        margin: 10px 0px;
        // background-color: #23232a;
        &.btn {
          a {
            color: #fff;
            font-weight: 600;
            background: #23232a;
            padding: 16px 24px;
            border-radius: 10px;
            
          }
        }
        a {
          text-transform: capitalize;
          text-decoration: none;
          display: flex;
          color: rgb(0, 0, 0);
          // background-color: #23232a;
          justify-content: center;

        }
      }
    }
  }
  @media only screen and (max-width:520px) {
     .desktop-view {
       display : none
     }
     #show-menu {
       display: flex;
     }
     .mobile-view {
       display: flex;
     }
     header .header-inner img {
      width : 120px;
      height : 60px;
    }
  }